@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;

<h4>Add an appointment</h4> 

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.Appointment)
  @Html.TextBoxFor(model => model.Appointment)


  <input type="submit" value="Add" class="btn btn-default"/>
}
<p>@Html.ActionLink("Show all clients", "Index")</p>

